extends ../template

block greeting
	h1 Sehr geehrte Damen und Herren

block info
	p Anbei senden wir Ihnen die Quittung für den Einsatz vom #{date}.
	br
	br
	p Freundliche Grüsse 
	p Verkehrskadetten Abteilung Zürcher-Unterland


