extends ../template

block greeting
	p Sehr geehrte Damen und Herren,
	br

block info
	p Anbei senden wir Ihnen die Quittung für den Einsatz vom #{date}.
	br
	p Freundliche Grüsse 
	p Verkehrskadetten Abteilung Zürcher-Unterland


