extends layout.pug

block content
    div(style={'font-size': '8pt', 'font-family': 'Calibri, Open Sans, sans-serif', 'width': width, 'display': 'flex', 'justify-content': 'space-between'})
        div
            span Seite 
            span(class="pageNumber")
            span  von 
            span(class="totalPages")
        div
            p(style={padding: 0, margin: 0}) Hertistrasse 24, 8304 Wallisellen 
            p(style={padding: 0, margin: 0}) Tel. 044 552 06 80
            p(style={padding: 0, margin: 0}) info@vkazu.ch | www.vkazu.ch 