@charset "UTF-8";

div.content {
  font-size: 11pt;
  font-family: Arial, sans-serif;

  .logo img {
    width: 50%;
    margin: 0 auto;
  }

  .icons a,
  .icons a img,
  .icon {
    width: 20px;
    margin: 10px;
    cursor: pointer;
  }

  div {
    width: 750px;
    margin: 0 auto;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  thead tr {
    text-align: left;
    border-bottom: 1px solid black;
  }
  tbody {
    td {
      padding: 5px;
    }
    tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

div.signature {
  .logo {
    width: 600px;
  }
}
